html
{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body
{ 
	font-family: sans-serif, Arial, Segoe UI;
	font-size: 16px;
	background: #888 url("img/background.png") repeat;
	margin: 0;
	padding: 0;
}

.header
{
	color: #639ecd;
	background-repeat: repeat-x;
	background-image: url("img/header.png");
	height: 60px;
	position: fixed;
	top: 0px;
	display: block;
	width: 100%;
}

h1
{
	font-size: 30px;
	font-weight: normal;
	border-bottom: 4px solid #639ecd;
	display: inline-block;
	line-height: 53px;
	margin: 0 0 0 15px;
}

.content
{
	margin: 80px 10px;
	text-align: center;
}

.button
{
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	color: #fff;
	background: #fff url("img/button-background.png") repeat;
	line-height: 30px;
	background: rgba(49, 52, 55, 0.5);
	box-shadow: 1px 1px 1px #6C7077;
	text-shadow: #7B7D82 1px 1px 1px;
	width: 75px;
}

.button:active
{
	border: 1px solid #8ab6da;
	background-image: none;
	background-color: #639ECD;
	box-shadow: 1px 1px 1px #6C7077;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active
{
	background: rgba(49, 52, 55, 0.1);
	color: rgba(255, 255, 255, 0.5); 
	border: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 400px)
{
	button.big
	{
		width: 300px;
	}
}

.inputBox
{
	background-color: #EFEFEF;
	font-style: italic;
	color: #A7A7A7;
	min-width: 180px;
	padding: 7px 10px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(180, 180, 180);
	border-bottom-color: rgb(255, 255, 255);
	box-shadow: 0 -1px 0 #3C3C3C;
    margin-right:15px;
}

.horizontalLine
{
	border: none;
	border-top: 1px solid #B3B7BF;
	box-shadow: 0px -1px 0px #565961;
	margin-top: 20px;
	margin-bottom: 20px;
}

#todoItems
{
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
    list-style-type: none;
    -webkit-padding-start: 0px;
    margin:5px;
}
#todoItems > li {
    line-height: 3em;
    border-bottom:1px solid rgba(255, 255, 255, 0.3);
    margin:0px 1px;
    position:relative;
}
#todoItems > li:first-child {
    border-radius:4px 4px 0px 0px;
}
#todoItems > li:last-child {
    border-bottom:1px solid transparent;
    border-radius:0px 0px 4px 4px;
}
#todoItems > li:active,
#todoItems > li:focus{
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
}
#todoItems > li:active > .button,
#todoItems > li:focus > .button {
    opacity:1;
}
.footer
{
	width: 100%;
	height: 22px;
	position: fixed;
	bottom: 0px;
	margin: 0 auto;
	background-image: url("img/footer-background.png");
	background-repeat: repeat-x;
}

.footer:before
{
	content: url(img/logo.png);
	position: relative;
	top: 2px;
	left: 12px;
}

.footer img
{
	height: 19px;
	width: 83px;
	float: left;
	padding-left: 12px;
	padding-top: 3px;
}

.footer div
{
	float: right;
	color: #ABADB0;
	padding-right: 12px;
	padding-top: 2px;
}

.list-label 
{
    color:#639ecd;
    text-align:left;
    font-size:18px;
    font-weight:bold;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    margin-top: 15px;
    margin-left: 10px;
}
.clear {
    clear:both;
}
.button.delete {
    float:right;
    margin-top: 9px;
    margin-right: 5px;
    text-decoration:none;
    text-align:center;
    background:#ef3e33;
    border:none;
    opacity:0;
}
.todo-icon{
    width:30px;
    height:30px;
    background-image: url("img/tick.png");
	background-repeat: repeat-x;
    display:inline-block;
    top: 7px;
    margin-left:5px;
    position: relative;
}