<div data-role="view" id="resultados" data-layout="default" data-title="Resultados da busca" class="signup-view" data-model="app.Busca" data-init="app.atualizarResultados(app.Busca)">
    <div data-role="header">
        <div id="header">
            <div id="logo-buscaRes">
                <span style="text-align: center; box-shadow: 0px 1px 3px #000;" class="logo">
                    <img id="logo_voltar_res" style="height: 38px;margin-top: 10px; vertical-align: bottom;" src="images/logo.png">
                </span>
                <span style="float: right; margin-top: -55px; border: none;" class="titulo-busca" id="mostrarBuscaRes" onclick="exibirBuscaRes()">
                    <img style="padding: 15px; vertical-align: baseline; margin-top: -8px; padding-bottom: 0px;" src="images/lupa.png">
                </span>
            </div>
            <div id="searchRes" style="display:none; height: 55px">
                <form onsubmit="app.Busca.buscar('#buscaTermoRes'); return false;">
                    <span style="float:right;" id="buscarRes" data-role="touch" data-bind="events: { tap: buscar }">
                        <a id="btn_procurar" data-role="button" class="btn btn-buscar" style="height: 48px; margin:5px 5px 0 0; background-color: transparent; border: none; margin-top: -1px;">
                            <span>
                                <img style="padding: 5px; vertical-align: baseline; padding-bottom: 0px; background-color: transparent; border: none; margin-top: 0px;" src="images/lupa.png">
                            </span>            
                        </a>
                    </span>
                    <input style="float:right; height:45px; margin-top: 5px; border: none; border-radius: 0px;" type="text" id="buscaTermoRes" placeholder="Procure por empresas, negócios, profissionais" class="input input-buscar"
                           onblur="esconderBuscaRes($(this))"/>
                </form>
            </div>
        </div>
        <a style="float: left; margin: -40px 0 0 15px;" data-role="button" data-rel="drawer" href="#sobre" id="menu_opcoes2" class="km-widget km-button drawer-gambiarra"><span class="km-text">
            <img style="height: 25px; margin-bottom: 3px;" src="images/botao_opcoes.png">
            </span>
        </a>
    </div>
    <div id="resultados_container">
        <div id="numResultados"></div>
        <div>
            <ul id="resultadosLista" data-role="listview">
                
            </ul>
        </div>
        <div id="semResultados"></div>
    </div>
    <div data-role="footer" id="app_footer2">
        <!--<span>&copy; <span data-bind="text: getYear"></span> Ofar</span>-->
        <a href="javascript:void(0)">
            <img id="footer_banner2" style="/*height: 90%;*/ width: 100%" />
        </a>
    </div>
    <script>
        function exibirBuscaRes() {
            $("#searchRes").fadeIn();
            $("#logo-buscaRes").hide();
            $("#buscaTermoRes").focus();
            $("#app_footer2").hide();
        }
        
        function esconderBuscaRes(id) {
            //if ($(id).val() == '')
            //{
                $("#logo-buscaRes").fadeIn();
                $("#searchRes").hide();
            //}
            $("#app_footer2").show();
        }
        
        $("#logo_voltar_res").click(function () {
            // LOGO - Voltar para a página inicial
            app.mobileApp.navigate("#welcome");
        });
    </script>
</div>